* {
    margin: 0;
}

.parallax {
    position: relative;
    min-height: 100vh;
    z-index: -5;
    overflow: hidden;
}

.parallax > img {
    position: absolute;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.clouds1{
    z-index: 2;
    --rychlost: 10;
}

.clouds2{
    z-index: 5;
    --rychlost: -10;
}

.ground{
    z-index: 4;
    --rychlost: 1;
}

.rocks{
    z-index: 3;
    --rychlost: 30;
}

.sky{
    z-index: 1;
    --rychlost: 1;
}

section {
    padding-block: 250px;
    background-image: linear-gradient(#064f7d, #0177b2, #9186a1);
}

.clouds1, .clouds2 {
    animation: mraky linear;
    animation-timeline: scroll(root);
}

.rocks, .ground, .sky, .nadpis {
    animation: ostatni linear;
    animation-timeline: scroll(root);
}

section p {
    width: 75ch;
    text-align: justify;
    margin-inline: auto;
    color: white;
    font-size: 1.75em;
    font-family: "Rasa", serif;
}

.firefly{
    height: 20px;
    aspect-ratio: 1/1;
    z-index: 99;
    position: absolute;
    border-radius: 50%;
    background-color: #fff3a1;
    filter: blur(2px);
    transition: 0.5s ease-out;
}

.nadpis{
    font-family: "WindSong", cursive;
    position: absolute;
    width: 75ch;
    top: 10%;
    font-style: normal;
    left: 43%;
    color: white;
    font-weight: 50;
    font-size: 2em;
    --rychlost: 40;
}

@keyframes mraky {
    100% {
        transform: translateX(var(--rychlost));
        /* calc() kalkulačka var(--nazev-promenne) krát 100px */
        transform: translateX(calc(var(--rychlost) * 100px));
    }
}

@keyframes ostatni {
    100% {
        transform: translateY(calc(var(--rychlost) * 30px));
    }
}